<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <!--ARQUIVO DE IDENTIFICAÇÃO-->
    <add key="DiretotioOrigemACSOIDTS" value="C:\Temp\Acesso\"/>
    <add key="FormatoArquivoACSOIDTS" value="ACSOIDTS_{0}_{1:yyyyMMddHHmmss}.txt"/>

    <!--ARQUIVO DE RETORNO DE EMBOSSING-->
    <add key="DiretotioOrigemACSOEMIS_R" value="C:\Temp\Acesso\"/>
    <add key="Embossing.ACSOEMBCS.DiretorioOrigem" value="C:\Users\mmene_000\Google Drive\Projetos\AcessoCard\Sites\upBeneficio\trunk\Site\transferencia\entrada\"/>
    <add key="Embossing.ACSOEMBCS.DiretorioDestino" value="C:\Users\mmene_000\Google Drive\Projetos\AcessoCard\Sites\upBeneficio\trunk\Site\transferencia\saida"/>
    <add key="FormatoArquivoACSOEMIS_R" value="ACSOEMIS_R_{0}_{1:yyyyMMddHHmmss}.txt"/>

    <!--ARQUIVO DE CARGA-->
    <add key="DiretotioOrigemACSOPRGCR" value="C:\Temp\Acesso\"/>
    <add key="ACSOIDTSC_R.PADRAO_NOME_ARQUIVO" value="crdreq{0:yyMMdd}??.xml"/>
    <add key="FormatoArquivoACSOPRGCR" value="ACSOPRGCR_{0}_{1:yyyyMMddHHmmss}.txt"/>

    
    <!--ARQUIVO DE IDENTIFICAÇÃO RETORNO-->
    <add key="ACSOIDTSC_R.ORIGEM_RETORNO.CRI" value="C:\Temp\ArquivosComErro\"/>
    <add key="ACSOIDTSC_R.CRI.DiretotioDestino" value="C:\Temp\Acesso\"/>
    <add key="ACSOIDTSC_R.PADRAO_NOME_ARQUIVO" value="crdreq{0:yyMMdd}??.xml"/>
    <add key="FormatoArquivoACSOIDTSC_R" value="ACSOIDTS_R_{0}_{1:yyyyMMddHHmmss}.txt"/>


    <!--ARQUIVO DE CARGA RETORNO-->
    <add key="ACSOPRGCR_R.ORIGEM_RETORNO.CRI" value="C:\Temp\ArquivosComErro\"/>
    <add key="ACSOPRGCR_R.CRI.DiretotioDestino" value="C:\Temp\Acesso\"/>
    <add key="ACSOPRGCR_R.PADRAO_NOME_ARQUIVO" value="crdreq{0:yyMMdd}??.xml"/>
    <add key="FormatoArquivoACSOPRGCR_R" value="ACSOPRGCR_R_{0}_{1:yyyyMMddHHmmss}.txt"/>

    <!--Arquivo CRI Solicitação-->
    <add key="CRI_Sicilitacao_Envio_DiretorioOrigem" value="C:\Temp\Acesso\"/>

    

    <add key="ConexaoExcel" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 12.0 Xml;HDR=YES;IMEX=1';"/>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="Consultas" connectionString="Server=S03\SQL2008;User ID=up2008;Pwd=;Initial Catalog=Consultas;MultipleActiveResultSets = 'true'" providerName="System.Data.SqlClient"/>
    <add name="Cartao" connectionString="Server=S03\SQL2008;User ID=up2008;Pwd=;Initial Catalog=AcessoCartoes;MultipleActiveResultSets = 'true'" providerName="System.Data.SqlClient"/>
    <add name="Global" connectionString="Server=S03\SQL2008;User ID=up2008;Pwd=;Initial Catalog=AcessoCartoes;MultipleActiveResultSets = 'true'" providerName="System.Data.SqlClient"/>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.diagnostics>
    <switches>
      <add name="DataMessagesSwitch" value="0"/>
      <add name="TraceLevelSwitch" value="Verbose"/>
    </switches>
    <trace autoflush="true">
      <listeners>
        <!--, ThreadId, DateTime, Callstack-->
        <add name="twtl" type="System.Diagnostics.TextWriterTraceListener" traceOutputOptions="ProcessId, ThreadId, DateTime, Callstack" initializeData="C:\Temp\Acesso\IdentificacaoSimplifCartao.log"/>
        <add name="ctl" type="System.Diagnostics.ConsoleTraceListener" traceOutputOptions="ProcessId, ThreadId, DateTime, Callstack"/>
        <add name="evtl" type="System.Diagnostics.EventLogTraceListener" traceOutputOptions="ProcessId, ThreadId, DateTime, Callstack" initializeData="Comunicacao"/>
        <remove name="ctl"/>
        <remove name="evtl"/>
        <remove name="dvtl"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
